%h2== My General Availability

%p
  instructions

- form_for :availability, :url => user_availability_path(current_user), :html => {:method => :put, :id => "availability_form"} do |f|

  %table#availability_picker
    %thead
      %tr
        %th{:colspan => 2} &nbsp;
        - Availability::DAYS.each do |day|
          %th= day.to_s.capitalize

    %tbody
      - Availability.time_intervals(6,21).each do |(military_hour, hour_text)|
        %tr
          %th.hour{:rowspan => 2}= hour_text
          %th.minute :00
          - Availability::DAYS.each_with_index do |day, index|
            %td{:time_id => "#{index}@#{military_hour}00"}

        %tr
          %th.minute :30
          - Availability::DAYS.each_with_index do |day, index|
            %td{:time_id => "#{index}@#{military_hour}30"}

  = f.submit
